extends layout

block content
  .inner
    h2 #{tag || 'Tags'}
    pre= h.dump(tags)
    ul.tags
      each tag in tags
        li.tag
          a.tag__link(href=`/tags/${tag._id}`)
            span.tag__text= tag._id
            span.tag__count= tag.count